body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #111;
  color: #eee;
}

.dashboard-container {
  display: flex;
}

.sidebar {
  width: 220px;
  background-color: #1e1e1e;
  height: 100vh;
  padding: 20px;
  color: #ccc;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin: 20px 0;
  cursor: pointer;
}

.sidebar ul li.active {
  color: #fff;
  font-weight: bold;
}

.main {
  flex: 1;
  padding: 30px;
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.profile-section {
  display: flex;
  gap: 40px;
  margin-top: 40px;
}

.profile-left {
  width: 250px;
  text-align: center;
  
}

.avatar {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}

.profile-right {
  flex: 1;
}

.details-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
  margin-top: 20px;
}
